[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
black = "*"

[packages]
gunicorn = "*"
requests = "*"
pytz = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
psycopg2-binary = "*"
flask-migrate = "*"

[requires]

[scripts]
start = "bash ./run_devserver.sh"
test = "pytest"
test-docker-compose = "docker-compose up --build --abort-on-container-exit"
