name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: npm install
      - run: npm test
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - run: pip install -U pipenv
      - run: pipenv install --dev
      - run: pipenv run pytest

      - if: github.ref == 'refs/heads/main'
        uses: AkhileshNS/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "slackattend"
          heroku_email: "kkweon@gmail.com"
